@using OnlineNews.Service
@inject ICategoryService _categoryService;
@{
    var categoryList = _categoryService.GetAllCategory();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineNews</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineNews.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="row headpage">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm secondLine ">
                <div class="container-fluid dropdwnSearch">
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link" style="font-size:35px" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    ☰
                                </a>
                                <ul class="dropdown-menu bg-light flex-column" style="font-size:20px; border:2px solid #A6A;" aria-labelledby="navbarDarkDropdownMenuLink">
                                    @foreach (var item in categoryList)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link " asp-area="" asp-controller="Article" asp-action="CategoryNews" asp-route-id="@item.Id">@item.Name</a>
                                        </li>
                                    }
                                </ul>
                            

                            </li>

                        </ul>  
                      
                          
                        <form asp-Controller="Article" asp-action="SearchResult">
                            <label for="searchitem"></label>
                            <input type="text" name="searchitem" id="searchitem" class="searchBar" placeholder="Search here by category......" />
                            <button class="searchBtn" type="submit"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000F5"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" /></svg></button>
                        </form>
                    </div>

                    <a class="navbar-brand" style="font-family:fantasy;font-size:60px;color: blue;" asp-area="" asp-controller="Home" asp-action="Index">ASAM</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">

                        <span class="navbar-toggler-icon"></span>
                    </button>

                  
                    <div class="navbar-collapse collapse justify-content-xl-end">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </div>
        <div class="row">

            <nav class="navbar navbar-expand-sm  d-flex justify-content-center bg-primary-subtle navbar-primary">

                <div class="container-fluid justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @foreach (var item in categoryList)
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Article" asp-action="CategoryNews" asp-route-id="@item.Id">@item.Name</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Article" asp-action="AddArticle">Add Article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Category" asp-action="Create">Add Category</a>
                        </li>
                        <div class="navbar-text ms-auto">
                            @await Component.InvokeAsync("Weather", new { city = "Linköping" })

                        @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                        { 
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin page
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="ListUsers">Manage users</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="container-fluid border-top footer footersize text-muted">
        <div class="row">
            
            &copy; 2025 - OnlineNews - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
