@using OnlineNews.Service
@inject ICategoryService _categoryService;
@{
    var categoryList = _categoryService.GetAllCategory();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineNews</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineNews.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="row headpage">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm secondLine ">
                <div class="container-fluid dropdwnSearch">
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link" style="font-size:35px" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    ☰
                                </a>
                                <ul class="dropdown-menu bg-light flex-column" style="font-size:15px; border:1px solid #127;" aria-labelledby="navbarDarkDropdownMenuLink">
                                    @foreach (var item in categoryList)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link " asp-area="" asp-controller="Article" asp-action="CategoryNews" asp-route-id="@item.Id">@item.Name</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>

                    
                        <form asp-Controller="Article" asp-action="SearchResult">
                            <label for="searchitem"></label>
                            <input type="text" name="searchitem" id="searchitem" class="searchBar" placeholder="Search here by category......" />
                            <button class="searchBtn" type="submit">Search</button>
                        </form>
                    </div>

                    <a class="navbar-brand" style="font-family:fantasy;font-size:60px;color: blue;" asp-area="" asp-controller="Home" asp-action="Index">ASAM</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">

                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse justify-content-xl-end">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </div>
        <div class="row">

            <nav class="navbar navbar-expand-sm  d-flex justify-content-center bg-primary-subtle navbar-primary">

                <div class="container-fluid">
                    <ul class="navbar-nav">
                        @foreach (var item in categoryList)
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Article" asp-action="CategoryNews" asp-route-id="@item.Id">@item.Name</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Article" asp-action="AddArticle">Add Article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Category" asp-action="Create">Add Category</a>
                        </li>

                        @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                        { //this dropdown menu is only meant for the admin to see
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin page
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="ListUsers">Manage users</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    
                                </ul>
                            </li>
                        }

                    @* <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Article" asp-action="DeleteArticle" asp-route-id="@item.Id">Delete Article</a>
                    </li> *@
                </ul>
            </div>
        </nav>
      </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="container-fluid border-top footer footersize text-muted">
        <div class="row">
            
            &copy; 2025 - OnlineNews - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
