@model OnlineNews.Models.ViewModels.OrderSummaryViewModel


<h2>Order Summary</h2>

<div>
    <h3>Order ID: @Model.OrderId</h3>
    <p><strong>Order Date:</strong> @Model.OrderDate.ToString("dd/MM/yyyy")</p>
</div>

<h4>Customer Details:</h4>
<div>
    <p><strong>Name:</strong> @Model.Customer.FirstNameBillingAddress @Model.Customer.LastNameBillingAddress</p>
    <p><strong>Email:</strong> @Model.Customer.EmailAddress</p>
    <p><strong>Phone:</strong> @Model.Customer.PhoneNo</p>
    <p><strong>Billing Address:</strong> @Model.Customer.BillingAddress, @Model.Customer.BillingCity, @Model.Customer.BillingZip</p>
    <p><strong>Delivery Address:</strong> @Model.Customer.DeliveryAddress, @Model.Customer.DeliverCity, @Model.Customer.DeliverZip</p>
</div>

<h4>Order Items:</h4>
<table class="table">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.OrderRows)
        {
            <tr>
                <td>@row.product.Name</td>
                <td>@row.Quantity</td>
                <td>@row.Price.ToString("C")</td>
                <td>@(row.Quantity * row.Price).ToString("C")</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <p><strong>Total Price:</strong> @Model.TotalPrice.ToString("C")</p>
</div>
