@model OnlineNews.Models.Database.Article


@{
    ViewData["Title"] = "Details";
}

<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="row">
            <h1 class="row justify-content-center">
                @Model.Headline
            </h1>

        </div>

    </div>
</div>
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <em>@Model.PublishedDate</em>
    </div>
</div>
<br />
<div class="container">
    <div class="rounded max-auto d-block img">
        <div>
            <img src="@Model.ImageLink" style="width:700px;height:400px"/>
        </div>
    </div>
</div>
<br />
<br />
<br />

<div class="row">
    @Model.Content
</div>

<p><b>Likes:</b>@Model.Likes</p>
<hr />

@using (Html.BeginForm("LikeAnArticle", "Article", new { id = Model.Id }, FormMethod.Post))
{

    <button value="submit"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000F5"><path d="M720-120H280v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h258q32 0 56 24t24 56v80q0 7-2 15t-4 15L794-168q-9 20-30 34t-44 14Zm-360-80h360l120-280v-80H480l54-220-174 174v406Zm0-406v406-406Zm-80-34v80H160v360h120v80H80v-520h200Z" /></svg></button>
}

<a href="Url.Action("Index","Home")>Back to List</a>