@using System.Security.Claims
@model OnlineNews.Models.ViewModels.UserPageViewModel

<h1>Welcome @Model.User.FirstName @Model.User.LastName</h1>
<p>Date of Birth: @Model.User.DateofBirth.ToString("d")<a asp-controller="Subscription" asp-action="EditProfile"> <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000F5"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" /></svg></a></p>
<p>Email: @Model.User.Email</p>

<h2>Your Subscription</h2>

@if (Model?.Subscription != null)
{
    <p>Subscription Status: @Model.Subscription.SubscriptionType?.TypeName</p>
    <p>Price: $@Model.Subscription.SubscriptionType?.Price</p>
    <p>Created At: @Model.Subscription.CreatedAt.ToString("d")</p>
    <p>Expires At: @Model.Subscription.ExpiredAt.ToString("d")</p>
    <p>Remaining Days: @Model.RemainingDays() days</p>
    <h2>Edit Profile</h2>
    <form  method="get">
        <button type="submit">Edit Profile</button>
    </form>

    @if (Model.Subscription.PaymentComplete)
    {
        <p>Payment Status: Paid</p>
    }
    else
    {
        <p>Payment Status: Not Paid</p>
    }
}
else
{
    <p>No subscription data available.</p>
    <a asp-controller="Subscription" asp-action="Subscribe">Subscribe Now</a>
}

<h2>Change Subscription</h2>

<form asp-controller="User" asp-action="ChangeSubscription" method="post">
    <label for="subscriptionType">Select Subscription Type:</label>
    <select id="subscriptionType" name="subscriptionType">
        <option value="Basic">Basic</option>
        <option value="Premium">Premium</option>
    </select>
    <button type="submit">Change Subscription</button>
</form>

@if (TempData["Message"] != null)
{
    <p>@TempData["Message"]</p>
}

@if (TempData["Error"] != null)
{
    <p>@TempData["Error"]</p>
}
